<%= form_for :order, url: order_path, html: {method: :put} do |form| %>
    
    <div class="row pb-4">
        <div class="col">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
        </div>
        <div class="col">
            <%= form.label :mobile %>
            <%= form.text_field :mobile, class: 'form-control', placeholder: 'Mobile #' %>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col">
            <%= form.label :amount %>
            <%= form.text_field :amount, class: 'form-control', placeholder: 'Amount #' %>
        </div>
        <div class="col">
            <%= form.label :address %>
            <%= form.text_field :address, class: 'form-control', placeholder: 'Description' %>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col">
            <%= form.label :quantity %>
            <%= form.text_field :quantity, class: 'form-control', placeholder: 'Quantity' %>
        </div>
        <div class="col">
            <%= form.label :date %>
            <%= form.date_field :date, class: 'form-control', placeholder: 'Date' %>
        </div>
        <div class="col">
            <%= form.label :status %>
            <%= form.select(:status, ['Pending', 'Shipped', 'Completed', 'Returned', 'Canceled'], {}, { :class => 'form-control' }) %>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col">
            <%= form.label :paymentStatus %>
            <%= form.select(:paymentStatus, ['Not Paid', 'Paid'], {}, { :class => 'form-control' }) %>
        </div>
        <div class="col">
            <%= form.label :product_id %>
            <%= form.select(:product_id, products_for_select, {}, { :class => 'form-control' }) %>
        </div>
    </div>

    <%= form.submit class: 'btn btn-success', value: 'Update Order' %>
    <%= link_to "Cancel", order_index_path, :class=>'btn btn-warning' %>
<% end %>