<div class="row py-4">
  <div class=" col-md-6 col-12">
    <h1>All Orders</h1>
  </div>
  <div class=" col-md-6 col-12">
    <%= render 'searchForm' %>
  </div>
</div>

<div class="row justify-content-center border-bottom">
  <div class="col-12 col-md-2">
      <div class="card text-white bg-primary mb-3">
          <div class="card-header">Total Orders</div>
          <div class="card-body">
              <h1 class="card-title"><%= @all %></h1>
          </div>
      </div>
  </div>
  <div class="col-12 col-md-2">
      <div class="card text-white bg-success mb-3">
          <div class="card-header">Completed Orders</div>
          <div class="card-body">
              <h1 class="card-title"><%= @completed %></h1>
          </div>
      </div>
  </div>
  <div class="col-12 col-md-2">
      <div class="card text-white bg-secondary mb-3">
          <div class="card-header">Pending Orders</div>
          <div class="card-body">
              <h1 class="card-title"><%= @pending %></h1>
          </div>
      </div>
  </div>
  <div class="col-12 col-md-2">
      <div class="card text-white bg-danger mb-3">
          <div class="card-header">Shipped Orders</div>
          <div class="card-body">
              <h1 class="card-title"><%= @shipped %></h1>
          </div>
      </div>
  </div>
  <div class="col-12 col-md-2">
      <div class="card text-white bg-warning mb-3">
          <div class="card-header">Return Orders</div>
          <div class="card-body">
              <h1 class="card-title"><%= @returned %></h1>
          </div>
      </div>
  </div>
  <div class="col-12 col-md-2">
      <div class="card text-white bg-info mb-3">
          <div class="card-header">Canceled Orders</div>
          <div class="card-body">
              <h1 class="card-title"><%= @canceled %></h1>
          </div>
      </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Mobile</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Payment Status</th>
      <th scope="col">Created at</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
        <tr>
            <th scope="row"><%= order.id %></th>
            <td><%= order.name %></td>
            <td><%= order.quantity %></td>
            <td><%= order.mobile %></td>
            <td><%= order.amount %></td>
            <td><%= order.description %></td>
            <td><%= order.date %></td>
            <td><%= order.status %></td>
            <td><%= order.paymentStatus %></td>
            <td><%= order.created_at %></td>
            <td>
                <%= link_to edit_order_path(order), class: 'btn btn-info' do %>
                    <span>Edit</span>
                <% end %>
                    
                <%= link_to order_path(order), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' do %>
                    <span>Delete</span>
                <% end %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>