<%= form_for :payment, url: payment_path, html: {method: :put} do |form| %>
    
    <div class="row pb-4">
        <div class="col">
            <%= form.label :date %>
            <%= form.date_field :date, class: 'form-control' %>
        </div>
        <div class="col">
            <%= form.label :purpose %>
            <%= form.text_field :purpose, class: 'form-control', placeholder: 'Purpose' %>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col">
            <%= form.label :to_from %>
            <%= form.text_field :to_from, class: 'form-control', placeholder: 'Beneficiary' %>
        </div>
        <div class="col">
            <%= form.label :status %>
            <%= form.select(:status, ['Debit', 'Credit'], {}, { :class => 'form-control' }) %>
        </div>
        <div class="col">
            <%= form.label :amount %>
            <%= form.text_field :amount, class: 'form-control', placeholder: 'Amount' %>
        </div>
    </div>

    <%= form.submit class: 'btn btn-success', value: 'Update Product' %>
    <%= link_to "Cancel", payment_index_path, :class=>'btn btn-warning' %>
<% end %>