<h1 class="py-4">All Products</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Stock</th>
      <th scope="col">Retail Price</th>
      <th scope="col">Vendor</th>
      <th scope="col">Created at</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
        <tr>
            <th scope="row"><%= product.id %></th>
            <td><%= product.reference %></td>
            <td><%= product.date %></td>
            <td><%= product.summary %></td>
            <td><%= product.amount %></td>
            <td><%= product.created_at %></td>
            <td>
                <%= link_to edit_product_path(product), class: 'btn btn-info' do %>
                    <span>Edit</span>
                <% end %>
                    
                <%= link_to product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' do %>
                    <span>Delete</span>
                <% end %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>