<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><b>Account Management</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to dashboard_index_path, :class => "nav-link" do %>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to sales_path, :class => "nav-link" do %>
          <span>Sales</span>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Journal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to journal_index_path, :class => "dropdown-item" do %>
            <span>All Journals</span>
          <% end %>
          <%= link_to new_journal_path, :class => "dropdown-item" do %>
            <span>Add New</span>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Product
        </a>
        <div class="dropdown-menu" aria-labelledby="productDropdown">
          <%= link_to product_index_path, :class => "dropdown-item" do %>
            <span>All Products</span>
          <% end %>
          <%= link_to new_product_path, :class => "dropdown-item" do %>
            <span>Add Product</span>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="vendorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Supplier
        </a>
        <div class="dropdown-menu" aria-labelledby="vendorDropdown">
          <%= link_to vendor_index_path, :class => "dropdown-item" do %>
            <span>All Suppliers</span>
          <% end %>
          <%= link_to new_vendor_path, :class => "dropdown-item" do %>
            <span>Add Supplier</span>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="orderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Order
        </a>
        <div class="dropdown-menu" aria-labelledby="orderDropdown">
          <%= link_to order_index_path, :class => "dropdown-item" do %>
            <span>All Orders</span>
          <% end %>
          <%= link_to new_order_path, :class => "dropdown-item" do %>
            <span>Add Order</span>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="paymentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Payments
        </a>
        <div class="dropdown-menu" aria-labelledby="paymentDropdown">
          <%= link_to payment_index_path, :class => "dropdown-item" do %>
            <span>All Payments</span>
          <% end %>
          <%= link_to new_payment_path, :class => "dropdown-item" do %>
            <span>Add Payment</span>
          <% end %>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-dark' do %>
        <span>Logout</span>
      <% end %>
    </form>
  </div>
</nav>